* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.citta {
	height: 100vh;
	/*width non serve per come ancoro lo sfondo sotto*/
	background-image: url("Resources/roma.jpg");
	background-size: cover;
	background-position: center;
	/*per centrare il nome della città:*/
	position: relative;
}

.citta#tokyo {
	background-image: url("Resources/tokyo.jpg");
}

.citta#casalpuste {
	background-image: url("Resources/casalpuste.jpg");
}

.overlay {
	background-color: rgba(0,0,0,0.6);
	/*posso usare sia % che vh-vw*/
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 5rem;
	letter-spacing: 3px;
	color: white;
	text-transform: uppercase;
	/*centraggio testo all'immagine:*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 20;
}