* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.overlay {
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
}
.citta {
	height: 100vh;
	background-image: url("Resources/roma.jpg");
	background-size: cover;
	background-position: center;
}

.citta#tokyo {
	background-image: url("Resources/tokyo.jpg");
}

.citta#casalpuste {
	background-image: url("Resources/casalpuste.jpg");
}

.overlay {
	background-color: rgba(0,0,0,0.7);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}