* {
	margin: 0;
	padding: 0;
}

.citta {
	height: 100vh;
	background-image: url("Resources/roma.jpg");
	background-size: cover;
	background-position: center;
}

#tokyo {
		background-image: url("Resources/tokyo.jpg");
}

#casalpuste {
		background-image: url("Resources/casalpuste.jpg");
}